
// DESCRIPTION
//  .description - description block.
//  .description__content - contains the content in the DESCRIPTION block.
//  .description__container - mix to position content in description block -
//  width & margin.
// -----------------------------------------------------------------------------

$name: "%description-#{$type}";
$elems: container;

.description {
  @include cond-extend($name, $elems);
}


// -----------------------------------------------------------------------------
// DESCRIPTION styles of all media queries for style.css file.
// -----------------------------------------------------------------------------
%description-screen {
  &__container {
  }
}


// -----------------------------------------------------------------------------
// DESCRIPTION styles for mobile file.
// -----------------------------------------------------------------------------
%description-mobile {
  &__container {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}


// -----------------------------------------------------------------------------
// DESCRIPTION styles for tablet file.
// -----------------------------------------------------------------------------
%description-tablet {
  &__container {
    width: 75%;
    padding-top: 40px;
    padding-bottom: 50px;
  }
}


// -----------------------------------------------------------------------------
// DESCRIPTION styles for desktop file.
// -----------------------------------------------------------------------------
%description-desktop {
  &__container {
    max-width: 775px;
    padding-top: 56px;
    padding-bottom: 80px;
  }
}


