@import url(fonts/stylesheet.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-regular.ttf?1357678800') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto-bold.ttf?1357678800') format('truetype');
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "DIN Pro";
  font-weight: normal;
}

h1, h3 {
  text-align: center;
}

h1, h2 {
  color: #222;
}
#footer h1, #footer h2 {
  color: #fff;
}

h3, h5 {
  color: #000;
}
#footer h3, #footer h5 {
  color: #fff;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  padding-bottom: 1.25em;
  margin: 30px 0;
  position: relative;
}
h5::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 24px;
  border-bottom: 2px solid #F47821;
}

h6 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5833em;
  margin: 0 0 10px;
}

input,
label,
select,
button,
textarea {
  box-sizing: border-box;
  outline: 0;
}

label {
  font-family: "DIN Pro";
  font-size: inherit;
  font-weight: bold;
  margin: 0px 0 5px;
}

textarea,
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 16px 0;
  border: 0 solid #444;
  border-bottom-width: 2px;
  resize: none;
}
textarea.error,
input[type="text"].error {
  border-bottom-color: #944;
}
textarea.pass,
input[type="text"].pass {
  border-bottom-color: #494;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 12px;
  height: 12px;
  vertical-align: baseline;
  border: 2px solid #444;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.2s, border-color 0.1s;
  -o-transition: all 0.2s, border-color 0.1s;
  -webkit-transition: all 0.2s, border-color 0.1s;
  transition: all 0.2s, border-color 0.1s;
}
input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
  width: 6px;
  top: -2px;
  left: 5px;
  border-color: #F47821;
  border-top-color: transparent;
  border-left-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

input[type="radio"] + label::before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

button,
input[type="button"],
input[type="submit"] {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  cursor: pointer;
  padding: 19px 40px;
  margin: 0;
  border: none;
  color: #F47821;
  background: #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: color 300ms ease-out, background 300ms ease-out;
  -o-transition: color 300ms ease-out, background 300ms ease-out;
  -webkit-transition: color 300ms ease-out, background 300ms ease-out;
  transition: color 300ms ease-out, background 300ms ease-out;
}
button:visited,
input[type="button"]:visited,
input[type="submit"]:visited {
  color: #F47821;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  color: #fff;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  color: #fff;
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  color: #fff;
}
button:visited,
input[type="button"]:visited,
input[type="submit"]:visited {
  background: #fff;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  background: #F47821;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background: #F47821;
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background: #F47821;
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  top: 2px;
}

.form-item {
  margin: 0 0 35px;
}

.form-type-text label,
.form-type-textarea label {
  display: block;
}

.form-type-button {
  margin: 0 auto;
  text-align: center;
}

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  font-family: "Roboto", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.625;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4556;
  background: #fff;
  height: 100%;
}

body {
  scroll-behavior: smooth;
}

figure {
  overflow: hidden;
}
figure img {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

p, pre {
  margin: 0 0 1.5em;
}

a {
  color: #F47821;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-decoration: none;
  outline: none;
}
a:visited {
  color: #F47821;
}
a:focus {
  color: #a74a08;
}
a:hover {
  color: #a74a08;
}
a:active {
  color: #a74a08;
}

.title-orange-stylize {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #F47821;
}

.header-top__content {
  text-align: center;
}

.container {
  margin: 0 auto;
}

#page {
  width: 100%;
}

#benefits,
#conditions {
  background: #F7F5FA;
}

a.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  background-color: transparent;
  margin: 10px 0 0;
  padding: 0 30px 0 45px;
  height: 54px;
  line-height: 54px;
  z-index: 1;
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
}
a.button::before, a.button::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 54px;
  height: 54px;
  line-height: 54px;
}
a.button::before {
  content: '';
  background: rgba(136, 136, 136, 0.15);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  -webkit-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
  z-index: -1;
}
a.button::after {
  content: '+';
  font-size: 27px;
  font-weight: normal;
  text-align: center;
  color: #F47821;
}
a.button:hover::before, a.button:focus::before {
  width: 100%;
}

#sub-head {
  line-height: 1;
  overflow: hidden;
}
#sub-head .content {
  position: relative;
  left: 50%;
}
#sub-head img {
  position: relative;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.condition-list {
  background: #fff;
  border-top: 1px solid #EDEDED;
  border-left: 1px solid #EDEDED;
  position: relative;
  top: -100px;
  margin: 0 auto;
}

.condition .content {
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.benefit {
  margin-top: 20px;
}
.benefit .content {
  max-width: 335px;
  padding-top: 52px;
  background: url(img/money.png) no-repeat;
}

#footer {
  color: #fff;
  background: #161616;
}
#footer .form-items {
  counter-reset: form-list;
  padding: 10px 0 0;
  margin: 0 0 60px;
}
#footer .form-items label {
  font-size: 16px;
}
#footer .form-items input,
#footer .form-items textarea {
  line-height: 1.458;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  background: transparent;
}
#footer .form-type-button input {
  width: 100%;
}
#footer .form-item {
  position: relative;
}
#footer .form-item::before {
  counter-increment: form-list;
  content: counter(form-list);
  color: #F47821;
  font-size: 20px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #444;
}
#footer .form-item:last-child {
  margin-bottom: 0;
}

.message {
  color: #fff;
  background: #161616;
  border: 2px solid #444;
}

.message__header {
  padding: 10px 0 15px;
  margin: 0 0 20px;
  border-bottom: 1px solid #444;
}

.message__title {
  margin: 0;
}

.message__item {
  line-height: 1.25;
}
.message__item_msg {
  margin: 0 0 1em 2em;
}
.message__item_label {
  margin: 0;
  text-decoration: underline;
}

.button-close {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.75;
  width: 1.75em;
  height: 1.75em;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: #F47821;
  background: #f7f5fa;
  -moz-transition: color, background 500ms ease-out;
  -o-transition: color, background 500ms ease-out;
  -webkit-transition: color, background 500ms ease-out;
  transition: color, background 500ms ease-out;
}
.button-close:visited {
  color: #F47821;
}
.button-close:focus {
  color: #f7f5fa;
}
.button-close:hover {
  color: #f7f5fa;
}
.button-close:active {
  color: #f7f5fa;
}
.button-close:visited {
  background: #f7f5fa;
}
.button-close:focus {
  background: #F47821;
}
.button-close:hover {
  background: #F47821;
}
.button-close:active {
  background: #F47821;
}
.button-close::after {
  content: 'x';
  display: block;
}

.popup-box {
  content: '';
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup-box_hide {
  display: none;
}

.popup-box_show {
  display: block;
}

.popup-box__message {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 90%;
  max-width: 450px;
  min-height: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em;
  margin: auto;
  -moz-box-shadow: #222 0 0 50px;
  -webkit-box-shadow: #222 0 0 50px;
  box-shadow: #222 0 0 50px;
}

.gmap {
  line-height: 0;
}

.sel {
  color: #F47821;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*# sourceMappingURL=styles.css.map */
