
$type:  mobile;

// Settings & Mixins
@import 'base/base';

#page {
  font-size: 16px;
}

@import 'blocks/container/container';
// HEADER row
@import 'blocks/header-top/header-top';
// BLOCK HEADERS - block titles, h1..h6
@import 'blocks/block-header/block-header';

// HEADER-SUB row
@import 'blocks/header-sub/header-sub';
// CONDITIONS row
@import 'blocks/conditions/conditions';
// DESCRIPTION row
@import 'blocks/description/description';
// BENEFITS row
@import 'blocks/benefits/benefits';



// FOOTER
#footer {
  $form_num_size: 40px;

  .form-item {
    padding-left: $form_num_size + 20px;
    padding-top: $form_num_size/2;

    &::before {
      width: $form_num_size;
      height: $form_num_size;
      line-height: $form_num_size;
    }
  }

  .form-type-button {
    padding-left: $form_num_size + 20px;
  }
  .form-items {
    font-size: 20px;
  }
  .container {
    padding: 80px $gutter-width;
  }
}









// FORM
.form-item {
  margin: 0 10px 35px;
}




// HELPER
.col-1-2,
.col-1-3 {
  width: 100%;
  float: none;
}

