
$type:  screen;

// Settings & Mixins
@import 'base/base';
// -----------------------------------------------------------------------------
// This file provides a CSS reset/normalize generated based on the legacy variables.
// -----------------------------------------------------------------------------
@import 'base/base_reset';


@import 'blocks/button/button';
@import 'blocks/button-close/button-close';

// PAGE CONTAINER.
@import 'blocks/container/container';
// BLOCK TITLE - block titles, h1..h6
@import 'blocks/title/title';

// -----------------------------------------------------------------------------
// Message block for User
// -----------------------------------------------------------------------------
@import 'blocks/message/message';
@import 'blocks/popup-box/popup-box';

// HEADER row
@import 'blocks/header-top/header-top';
// HEADER-SUB row
@import 'blocks/header-sub/header-sub';
// CONDITIONS row
@import 'blocks/conditions/conditions';
// DESCRIPTION row
@import 'blocks/description/description';
// BENEFITS row
@import 'blocks/benefits/benefits';






// FOOTER
#footer {

  color: $footer_color;
  background: $footer_bg;

  .form-items {
    counter-reset: form-list;
    padding: 10px 0 0;
    margin: 0 0 60px;

    label {
      font-size: 16px;
    }
    input,
    textarea {
      line-height: 1.458;
      font-style: normal;
      font-weight: normal;
      color: inherit;
      background: transparent;
    }
  }

  .form-type-button {
    input {
      width: 100%;
    }
  }
  .form-item {
    position: relative;

    &::before {
      counter-increment: form-list;
      content: counter(form-list);
      color: $link_color;
      font-size: 20px;
      text-align: center;
      display: block;
      position: absolute;
      top: 0.5em;
      left: 0;
      @include border-radius(50%);
      border: 1px solid  $border_form;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}



// HELPER

.gmap {line-height: 0;}

.sel {color: $link_color;}


.clearfix {
  @include pie-clearfix();
}





