
// USER MESSAGE

.message {
  color: $message_color;
  background: $message_bg;
  border: 2px solid $message_border;
}

// MIX for add styles to header of message.
.message__title {
  padding: 10px 0 0px;
  margin: 0 0 20px;
  border-bottom: 1px solid  $border_form;
}

.message__items {
  line-height: 1.25;

  &_msg {
    margin: 0 0 1em 2em;
  }
  &_label {
    margin: 0;
    text-decoration: underline;
  }
}





