
// BUTTON - block for styling a, button and input tags as button? static or synamic.
//  .button - block/container of button element.
//            And also to use mixins to set the size and / or position.
//  .button__item - Stylized button item.
// -----------------------------------------------------------------------------
// MODIFICATORS
// -----------------------------------------------------------------------------
// {.BUTTON__ITEM}
// !!.-static!! - default style button.
// .-dynamic - кнопка с прозрачным фоном, рядом с кнопкой круг с плюсом внутри.
//                   при наыедении фон круга расширяется на всю ширину кнопки.
// .-dynamic-input - для элемента input. input надо обернуть в .button__item.-dynamic-input.
// --inverse - default: background - orange, color - white. The mod inverse this colors.
// -----------------------------------------------------------------------------


@at-root %button__item {
  position: relative;
  display: inline-block;

  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: $btn_height;
  height: $btn_height;

  cursor: pointer;
  border: none;
}


&__item {
  @extend %button__item;

  margin: 0;
  padding: 0 40px;

  @include link-colors($page_bg, $link_color, $link_color, $page_bg, $link_color);
  @include link-bg($link_color, $page_bg, $page_bg, $link_color, $page_bg);
  @include border-radius(100px);
  @include transition(color 300ms ease-out, background 300ms ease-out);

  @import '--dynamic/button__item--dynamic';
  @import '--dynamic-input/_button__item--dynamic-input';

  &:active {
    top: 2px;
  }

  &--inverse {
    @include link-colors($link_color, $page_bg, $page_bg, $link_color, $page_bg);
    @include link-bg($page_bg, $link_color, $link_color, $page_bg, $link_color);
  }
}



