
// BENEFITS
//  .benefits - BENEFITS block.
//  .benefits__list - list of the benefit items in the BENEFITS block.
//  .benefits__item - the benefit item in the BENEFITS block.
//  .benefits__content - contains the content in the BENEFITS block.
//  .benefits__text - contains the text content without header in the BENEFITS block.
//  .benefits__container - mix to position content in the BENEFITS block - padding.
//  .benefits__title-item - mix of title item element to position BLOCK TITLE in the BENEFITS block.
// -----------------------------------------------------------------------------

$name: "%benefits-#{$type}";
$mods: container, title-item, list, item, content, text;

.benefits {
  @include cond-extend($name, $mods);
}


// -----------------------------------------------------------------------------
// BENEFITS styles of all media queries for style.css file.
// -----------------------------------------------------------------------------
%benefits-screen {
  background: $page_bg_2;

  &__item {
    margin: 0;
    box-sizing: border-box;
  }
  &__content {
    max-width: 335px;
    margin: 20px auto 0;
  }
  &__title-item {
    position: relative;
    margin: 0px 0 30px;

    // next 3rows from __content
    padding-bottom: 1.25em;
    padding-top: 82px;
    background: url(img/money.png) left top no-repeat;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 24px;
      border-bottom: 2px solid  $link_color;
    }
  }
}


// -----------------------------------------------------------------------------
// BENEFITS styles for mobile file.
// -----------------------------------------------------------------------------
%benefits-mobile {
  &__container {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &__item {
    padding-bottom: 20px;
  }
}


// -----------------------------------------------------------------------------
// BENEFITS styles for tablet file.
// -----------------------------------------------------------------------------
%benefits-tablet {
  &__container {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &__item {
    padding-bottom: 20px;
  }
}


// -----------------------------------------------------------------------------
// BENEFITS styles for desktop file.
// -----------------------------------------------------------------------------
%benefits-desktop {
  &__container {
    padding-top: 80px;
    padding-bottom: 140px;
  }
  &__item {
    width: 33.3333%;
    float: left;

    &:nth-child(3n+1) {
      padding-right: 50px;
    }
    &:nth-child(3n+2) {
      padding-right: 25px;
      padding-left: 25px;
    }
    &:nth-child(3n+3) {
      padding-left: 50px;
    }
  }
}


