
// HEADER-TOP
//  .header-top - top header block.
//  .header-top__content - contains the content in the TOP HEADER block.
//  .header-top__container - mix to position content in the TOP HEADER block - padding.
// -----------------------------------------------------------------------------

$name: "%header-top-#{$type}";
$elems: container, content;

.header-top {
  @include cond-extend($name, $elems);
}


// -----------------------------------------------------------------------------
// HEADER-TOP styles of all media queries for style.css file.
// -----------------------------------------------------------------------------
%header-top-screen {
  // position: relative;
  text-align: center;
}


// -----------------------------------------------------------------------------
// HEADER-TOP styles for mobile file.
// -----------------------------------------------------------------------------
%header-top-mobile {
  &__container {
    padding: 108px $gutter-width 100px;
    // margin: 140px auto 100px;
  }
}


// -----------------------------------------------------------------------------
// HEADER-TOP styles for tablet file.
// -----------------------------------------------------------------------------
%header-top-tablet {
  &__container {
    padding: 108px $gutter-width 100px;
    // margin: 140px auto 100px;
  }
}


// -----------------------------------------------------------------------------
// HEADER-TOP styles for desktop file.
// -----------------------------------------------------------------------------
%header-top-desktop {
  &__container {
    padding: 141px $gutter-width 125px;
    // margin: 165px auto 125px;
  }
}


