
// BUTTON - block for styling a, button and input tags as button? static or synamic.
//  .button - block/container of button element.
//            And also to use mixins to set the size and / or position.
//  .button__item - Stylized button item.
// -----------------------------------------------------------------------------
// MODIFICATORS
// -----------------------------------------------------------------------------
// {.BUTTON__ITEM}
// \._style_static\ - default style button.
// ._style_dynamic - кнопка с прозрачным фоном, рядом с кнопкой круг с плюсом внутри.
//                   при наыедении фон круга расширяется на всю ширину кнопки.
// ._style_dynamic-input - для элемента input. input надо обернуть в .button__item._style_dynamic-input.
// ._color_inverse - default: background - orange, color - white. The mod inverse this colors.
// -----------------------------------------------------------------------------


@at-root %_style_dynamic {
  color: $color_dark;
  background-color: transparent;
  padding: 0 30px 0 45px;
  @include transition-property(none);
}


&._style_dynamic {
  @extend %_style_dynamic;

  margin: 10px 0 0;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $btn_height;
    height: $btn_height;
    line-height: $btn_height;
  }

  &::before {
    content: '';
    background: rgba(#888, 0.15);
    @include border-radius(100px);
    @include single-transition(width, 300ms, ease-out);
    z-index: -1;
  }

  &::after {
    content: '+';
    font-size: $btn_height/2;
    font-weight: normal;
    text-align: center;
    color: $link_color;
  }
  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

