//
// Custom sass variables
//
// Variables
// -----------------------------------------------------------------------------
// The variables set here serve only as example of how you can use SASS variables
// to centralize and control frequently used styles more easily. Here you will
// find variables for colors, fonts and the global gutter width.
//



$default-box-sizing: border-box;

//
// Color Variables
// Colors used in the sample global.styles. You can use these to recolor many
// elements such as forms, tables, tabs etc.
// -----------------------------------------------------------------------------

$page_bg:               #fff;           // to match the page background, default is white
$page_bg_2:             #F7F5FA;        // content background second
$color:                 #4A4556;
$color_dark:            #222;
$color_dark_2:          #000;


$link_color:            #F47821;
$link_color_h:          darken($link_color, 20%);

$footer_color:          #fff;
$footer_bg:             #161616;

$ultralight:            #f2f2f2;


$border:                #EDEDED;           // all borders set - tables, fieldset, primary links
$border_form:           #444;
$border_form_err:       #944;
$border_form_pass:      #494;

// MESSAGE
$message_color:         #fff;
$message_bg:            #161616;
$message_border:        #444;
$message_shadow:        #222;
$message_close_bg:      #f7f5fa;


// LAYOUT
$page_width:    1160px;


// FONT weights
$fw_light:  300;
$fw_semi:   600;
$fw_extra:  800;





//
// Font Variables
// These font stacks are an exact copy of the stacks found in AT Cores
// theme settings for web safe fonts.
// -----------------------------------------------------------------------------

$ff_head:                     'DIN Pro';

$sans-serif-small:            'Roboto', 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-large:            Verdana, Geneva, 'DejaVu Sans', Arial, Helvetica, sans-serif;
$sans-serif-arial-helvetica:  Arial, Helvetica, sans-serif;
$calibri-candara:             Calibri, Candara, Arial, Helvetica, sans-serif;
$serif-small:                 Garamond, Perpetua, 'Times New Roman', serif;
$serif-large:                 Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
$modern-myriad:               'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
$lucida:                      'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-serif;
$impact:                      Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
$mono:                        Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;


//
// Gutters
//
// Set a variable for the gutters. Adaptivetheme allows you to easly modify the
// global gutter width for precise control over the design. Panel pages need
// special gutter wrangling when a Panel is inside #content wrapper, so to ease
// setting this we use a variable.
// -----------------------------------------------------------------------------
$gutter-width: 10px;

