
// POPUP BOX is the overlay layer for messages or popup content.

// Block layer.
.popup-box {
  @include style-overlay(rgba(#000, 0.75), fixed, 10);
}
// States of visible block.
.popup-box_hide {
  display: none;
}
.popup-box_show {
  display: block;
}

// mix - position inner of message-popup block.
.popup-box__message {
  position: relative;
  top: 50%;
  @include translateY(-50%);
  width: 90%;
  max-width: 450px;
  min-height: 200px;
  @include box-sizing(border-box);
  padding: 2em;
  margin: auto;
  @include box-shadow($message_shadow 0 0 50px);
}







