
// Container - page block for content.
//  .container - page block.
//  .container__wrapper - mix to position content in the center.
// -----------------------------------------------------------------------------

$name: "%container-#{$type}";
$mods: "__wrapper";

.container {
  @include cond-extend($name, $mods);
}


// -----------------------------------------------------------------------------
// Container styles of all media queries for style.css file.
// -----------------------------------------------------------------------------
%container-screen {
  box-sizing: content-box;

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }

  // ?????????
  // position: relative;
}


// -----------------------------------------------------------------------------
// Container styles for desktop file.
// -----------------------------------------------------------------------------
%container-desktop {
  &__wrapper {
    max-width: $page_width;
  }
}

