
// BLOCK HEADER - header of block.
//  .block-header - the header block contains header h1..h6 for block.
//  .block-header__title - TITLE - the header element such as h1..h6.
// Modificators for .block-header__title.
//  .-type--h1.. .-type--h6 - TITLE Styles of tags such as h1..h6.
//  .-ta--center - TITLE style - the text is align in the center.
// -----------------------------------------------------------------------------

$name: "%block-header-#{$type}";
$mods: "__title";

.block-header {
  @include cond-extend($name, $mods);
}


// -----------------------------------------------------------------------------
// BLOCK HEADER styles of all media queries for style.css file.
// -----------------------------------------------------------------------------
%block-header-screen {
  &__title {
    &.-type--h1 {
      color: $color_dark;
      line-height: 1.125;
    }
    &.-type--h3 {
      color: $color_dark_2;
    }
    &.-type--h5 {
      @extend .-type--h3;
      padding-bottom: 1.25em;
      margin: 30px 0;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 24px;
        border-bottom: 2px solid  $link_color;
      }
    }
    &.-type--h6 {
      text-transform: uppercase;
      letter-spacing: 0.04em;
      margin: 0 0 10px;
    }
    &.-ta--center {
      text-align: center;
    }
    &.-color--link {
      color: $link_color;
    }
    &.-color--light {
      color: $footer_color;
    }
  }
}


// -----------------------------------------------------------------------------
// BLOCK HEADER styles for desktop file.
// -----------------------------------------------------------------------------
%block-header-desktop {
}

