
h1,h2,h3,h4,h5,h6 {
  color: $color_dark;
  font-family: $ff_head;
  font-weight: normal;
  line-height: inherit;
  line-height: 1.25;
}

h4 {
  font-size: 24px;
  margin: 10px 0;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

h6 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5833em;
  margin: 10px 0;
}
